1 VERSIONINFO
FILEVERSION 0,2,0,96
PRODUCTVERSION 0,2,0,96
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904B0"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "\000"
   VALUE "FileVersion", "0.2.0.96\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "\000"
   VALUE "ProductVersion", "0.2.0.96\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04B0
 }
}

#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "minimalcore.manifest"
MAINICON ICON "minimalcore.ico"
